<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Site for cat facts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>Welcome to the site about cat facts!</header> 
    <div class="catFact">
        {% if response %}
            <h3>{{ response }}</h3>
        {% else %}
        <p>No Cat Fact.</p>
        {% endif %}
    
        <form method="post" action="/">
            <input type="submit" value="New Cat Fact" name="action1"/>
        </form>
    </div>
</body>
</html>